@model SistemaAtlantida.Models.CuentaModel;
@{
    ViewData["Title"] = "Dashboard";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div class="container-fluid row px-3">
    <div class="d-flex flex-column col-12 my-3">
        <span class="user-welcome">Bienvenido/a</span>
        <span class="user-name" >@Model.NombreTitular</span>
    </div>
    <div class="d-flex flex-column col-12 col-sm-10 mt-3">
        <div class="d-flex flex-wrap justify-content-around justify-content-sm-start">
            <div class="info-box p-2 my-2 mx-sm-1">
                <div class="d-flex flex-column">
                    <p class="upper-info">Saldo<span class="lower-info">Actual</span> </p>
                </div>
                <p class="main-info text-break"><span class="info-dollar">$</span>@Model.SaldoActual</p>
            </div>
            <div class="info-box p-2 my-2 mx-sm-1">
                <div class="d-flex flex-column">
                    <p class="upper-info">Saldo<span class="lower-info">Disponible</span> </p>
                </div>
                <p class="main-info  text-break"><span class="info-dollar">$</span>@Model.SaldoActual</p>
            </div>
            <div class="info-box p-2 my-2 mx-sm-1">
                <div class="d-flex flex-column">
                    <p class="upper-info">Límite<span class="lower-info">De Credito</span></p>
                </div>
                <p class="main-info  text-break"><span class="info-dollar">$</span>@Model.LimiteCredito</p>
            </div>
            <div class="info-box p-2 my-2 mx-sm-1">
                <div class="d-flex flex-column">
                    <p class="upper-info">Reciente Total<span class="lower-info">De Compras</span></p>
                </div>
                <p class="main-info  text-break"><span class="info-dollar">$</span>@Model.LimiteCredito</p>
            </div>
            <div class="info-box p-2 my-2 mx-sm-1">
                <div class="d-flex flex-column">
                    <p class="upper-info">Interes<span class="lower-info">Bonificable</span></p>
                </div>
                <p class="main-info text-break"><span class="info-dollar">$</span>@Model.InteresBonificable</p>
            </div>
            <div class="info-box p-2 my-2 mx-sm-1">
                <div class="d-flex flex-column">
                    <p class="upper-info">Cuota<span class="lower-info">Mínima</span></p>
                </div>
                <p class="main-info  text-break"><span class="info-dollar">$</span>@Model.CuotaMinima</p>
            </div>
            <div class="info-box p-2 my-2 mx-sm-1">
                <div class="d-flex flex-column">
                    <p class="upper-info">Monto<span class="lower-info">Total A Pagar</span></p>
                </div>
                <p class="main-info  text-break"><span class="info-dollar">$</span>@Model.MontoPago</p>
            </div>
            <div class="info-box p-2 my-2 mx-sm-1">
                <div class="d-flex flex-column">
                    <p class="upper-info">Monto Total<span class="lower-info">Con Interes</span></p>
                </div>
                <p class="main-info  text-break"><span class="info-dollar">$</span>@Model.MontoPagoIntereses</p>
            </div>
        </div>
    </div>
    
        <a asp-action="Compras">Ver compras</a>
        <a asp-action="Pagos">Hacer un pago</a>
    <p>Monto Reciente Total: @ViewBag.MontoRecienteTotal</p>
</div>
