@{
    ViewData["Title"] = "Index";
    var numPrueba = ViewBag.numPrueba;
}

@model SistemaAtlantida.Tools.PaginatedList<CompraModel>

<h1>Index</h1>

<p>
    @numPrueba
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numero de Tarjeta
            </th>
            <th>
                Fecha
            </th>
            <th>
                Descripción
            </th>
            <th>
                Monto
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var fechaCorta = item.Fecha.ToShortDateString();
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fechaCorta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
